/* CSS styles for HTML5 skeleton  */

/* Start layout styles */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

mark {
  background-color: transparent;
  color: inherit;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input,
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

*,
*:before,
*:after {
  list-style: none;
  margin: 0px;
  padding: 0px;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* Start scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #4aaaa5;
}

::-webkit-scrollbar-track {
  background: #ccc;
}
/* End scrollbar styles */

body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 15px;
  color: #aaa;
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

main {
  flex: 1 0 auto;
  background-color: #eae7e775;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

p {
  line-height: 30px;
}

a {
  color: #ccc;
  font-size: 15px;
  text-decoration: none;
}

/* Default link styling */
a:link {
  color: #ccc;
}
a:visited {
  color: #ccc;
}

a:hover,
a:focus {
  color: #4aaaa5;
}

a:active {
  color: #4aaaa5;
}

strong,
b {
  font-weight: 600;
}

em,
i {
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
  margin: 0 0 1.5rem 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
}

h2 {
  font-size: 2.25rem;
  line-height: 1.3;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.9rem;
}

h6 {
  font-size: 0.7rem;
}
/* End layout styles */

/* Start general styles */
::-webkit-input-placeholder {
  color: #aaa;
}

:-moz-placeholder {
  color: #aaa;
}

::-moz-placeholder {
  color: #aaa;
}

:-ms-input-placeholder {
  color: #aaa;
}
/* End general styles */

/* Start header styles  */
header {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.menu {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

.logo {
  color: #fff;
  padding: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li {
  float: left;
}

nav ul li a {
  padding: 25px 20px;
  display: block;
  transition: all 0.5s ease 0s;
}

nav ul li a:hover {
  transition: all 0.5s ease 0s;
}
/* End header styles  */

/* Start footer styles  */
footer {
  flex-shrink: 0;
  background-color: #fff;
  border-top: 1px solid #ccc;
  padding: 10px 0px;
  font-size: 15px;
}

footer .copyright {
  color: #ccc;
  text-align: center;
}
/* End footer styles  */

/* Start contact-us styles */
.content {
  padding: 20px 0px;
}

section h1 {
  padding-bottom: 12px;
  border-bottom: 1px solid #ccc;
  text-transform: capitalize;
  font-size: 18px;
  color: #4aaaa5;
}

.contact-section {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
}

.contact label {
  display: block;
  margin-bottom: 10px;
  color: #888;
  font-size: 15px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

.contact input[type='text'],
.contact input[type='email'],
.contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #888;
  margin: 0 0 5px;
  padding: 10px;
}

.contact input[type='text']:hover,
.contact input[type='email']:hover,
.contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

.contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

.contact button[type='submit'] {
  cursor: pointer;
  border: none;
  color: #fff;
  background-color: #4aaaa5;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

.contact button[type='submit']:hover {
  background-color: #35b3ac;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.contact input:focus,
.contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}
/* End contact-us styles */

/* Start Responsive styles*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    /* width: 1170px; */
    width: 960px;
  }
}

/* End Responsive styles*/
